.welcome{
    height: 100vh;
    background-size: cover;
    background-position: center;  
}
h3.welcome {
    color: white;
    font-size: 30px;
  }
h6.welcome {
    font-size: 15px;
    color: white;
}
.overlay {
    background: rgba(0,0,0,0.3);
    height: inherit;
    width: inherit;
    z-index: 2;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about {

}
.service{

}
.socialMedia{
    width: 100%;
    padding-left: 20px;
  }
.soc>a{
    margin: 5px;
  }
.soc>a>img{
    height: 20px;
  }